<footer class="bg-dark text-light py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h5>About Us</h5>
          <p>Empower your financial security with our Fraud Detection System.
              Using advanced machine learning, we proactively identify and
              prevent fraudulent transactions in real-time. Stay protected,
              transact with confidence.</p>
        </div>
{#        <div class="col-md-4">#}
{#          <h5>Quick Links</h5>#}
{#          <ul class="list-unstyled">#}
{#            <li><a href="#">Home</a></li>#}
{#            <li><a href="#">Services</a></li>#}
{#            <li><a href="#">Portfolio</a></li>#}
{#            <li><a href="#">Contact</a></li>#}
{#          </ul>#}
{#        </div>#}
        <div class="col-md-4">
          <h5>Contact Us</h5>
          <p>Email: nitikothari03@gmail.com</p>
          <p>Phone: +91 7265993303</p>
        </div>
          <div class="col-md-12 text-center">
          <p>&copy; 2023 NK. All rights reserved.</p>
        </div>
      </div>
    </div>
    <br>
  </footer>